body {
	overflow-y: hidden;
}

.game-board {
	display: grid;
	grid-template-columns: 24vw 50vw 24vw;
	grid-template-rows: 20vh 58vh 20vh;
	justify-content: center;
	background: linear-gradient(to bottom right, #094221b0 0%, #ccffff 100%);
}

.box {
	background-color: #d9d9d9;

	background-color: transparent;
}

.game-field {
	border: 2px solid black;
	border-radius: 15%;
	background-image: url(/frontend/images/table-background.jpg);
}

.player {
	margin: 2vmax 2vmax;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 2rem;
}
