body {
	overflow-y: hidden;
}

.game-board {
	display: grid;
	grid-template-columns: 24vw 50vw 24vw;
	grid-template-rows: 20vh 58vh 20vh;
	justify-content: center;
	background: linear-gradient(to bottom right, #094221b0 0%, #ccffff 100%);
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d9d9d9;

	background-color: transparent;
}

.game-field {
	border-radius: 15%;
	background-image: url("../images/table-background.jpg");
}

.player {
	margin: 2vmax 2vmax;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 2rem;
}

.card {
	width: 120px;
	.unselectable {
		opacity: 0.5;
	}
}

.stack {
	display: flex;
	justify-content: left;
	list-style: none;
	width: 120px;
	height: calc(120px * 1.4);
	li {
		width: 0.2px;
	}
}
